.Header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 997;
	width: 100%;
	height: 4rem;
	background-color: #222;
	color: #FFF;
}

.Header-container {
	margin: auto;
	max-width: 1200px;
}

.Logo {
	position: relative;
	z-index: 998;
	width: 100%;
	height: 4rem;
	background-color: #222;
}

.Logo-link {
	display: block;
	width: 4rem;
	height: inherit;
	text-indent: -999px;
	background-image: url('http://bextlan.com/img/bextlan.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 3.5rem;
}

.Panel {
	position: fixed;
	top: 4rem;
	left: 0;
	z-index: 996;
	overflow: hidden;
	max-width: 0;
	max-height: 100%;
	background-color: #222;
	transition: all .3s ease-out;
	transform: translateX(100vw);
}

.Panel.is-active {
	max-width: 100vw;
	transform: translateX(0);
}

.Panel-button {
	position: fixed;
	z-index: 999;
	top: 1rem;
	right: 1rem;
	display: block;
	width: 3rem;
	height: .65rem;
	padding: 1rem;
	font-size: 1rem;
	text-indent: 999px;
}

.Panel-button:before {
	content: '';
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: block;
	width: 1em;
	height: .15em;
	font-size: 3em;
	background-color: #FF5700;
	border-radius: .15em;
	/*sombra: x  y blur color outset/inset */
	box-shadow: 
		0 .25em 0 #FF5700,
		0 .5em 0 #FF5700;
	transition: all .3s ease-out;
}

/* https://jonsuh.com/hamburgers/ */
.Panel-button:hover:before {
	background-color: #FFF;
	border-radius: 0;
	box-shadow: 
		0 .25em 0 #FFF inset,
		0 .5em 0 #FFF inset;
	transform: translateY(.5rem) rotate(45deg);
	/* transform: scale(.5, .5); */
	/* transform: rotate(-360deg); */
	/* transform: translate(1rem, 2rem); */
	/* transform: skew(20deg, 50deg); */
	/* transform: rotate(360deg) skew(20deg); */
	/* transform: rotateX(-360deg); */
}

.Menu { width: 100vw; }

.Menu-listItem {
	border-top: thin solid #FF5700;
	text-align: center;
}

.Menu-item {
	display: block;
	margin: 0;
	border-bottom: thin solid #FF5700;
	list-style-type: none;
}

.Menu-link {
	display: block;
	padding: 1rem;
	font-weight: bold;
	color: #FF5700;
	transition: all .3s ease-out;
}

.Menu-link:hover {
	background-color: #FF5700;
	color: #FFF;
}

.Main {
	max-width: 1200px;
	margin: auto;
	padding: 5rem 1rem 1rem;
	background-color: #EEE;
}

@media screen and (min-width: 64em) {
	.Header-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.Logo {
		width: 10%;
		flex: none;
		background-color: transparent;
	}

	.Panel {
		position: static;
		top: 0;
		flex: none;
		width: 90%;
		max-width: none;
		overflow: visible;
		background-color: transparent;
		transition: none;
		transform: translateX(0);
	}

	.Panel-button { display: none; }

	.Menu { width: 100%; }

	.Menu-listItem {
		border: 0;
		text-align: right;
	}

	.Menu-item {
		display: inline;
		border: 0;
	}

	.Menu-link { display: inline; }

	.Menu-link:hover { background-color: transparent; }
}