html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
}

*,
*:after,
*:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.container {
	/* define un caja flexible de bloque o de linea */
	/* flex | inline-flex */
	display: flex;
	/* define el eje principal y el transversal de la caja flexible */
	/* row | row-reverse | column | column-reverse */
	flex-direction: row;
	/* determina la existencia o no de saltos de línea y su sentido */
	/* nowrap | wrap | wrap-reverse */
	flex-wrap: wrap;
	/* alineación de los hijos en el eje principal (reparto del espacio) */
	/* flex-start | flex-end | center | space-between | space-around */
	justify-content: flex-start;
	/* alineación de los hijos en el eje transversal CUANDO NO HAY SALTOS DE LÍNEA */
	/* stretch | flex-start | flex-end | center | baseline */
	align-items: center;
	/* alineación de los hijos en el eje transversal CUANDO HAY SALTOS DE LÍNEA */
	/* stretch | flex-start | flex-end | center | space-between | space-around */
	align-content: space-around;
	/*width: 40%;*/
	height: 800px;
	margin: 1rem;
	/*padding: 1rem;*/
	border: medium solid greenyellow;
	background-color: #333;
}

.item {
	width: 20%;
	/*width: 50px;*/
	/*height: 75px;*/
	padding: 1rem;
	border: thin solid greenyellow;
	font-size: 2rem;
	background-color: #999;
	/*
		propiedad flex

		shorthand de flex-grow flex-shrink y flex-basis
			flex: <flex-grow>  <flex-shrink>  <flex-basis>;
			flex: 0 1 300px;

		flex: auto;
			es equivalente a flex: 1 1 auto;
			dimensiona el elemento según su ancho y alto
			y lo hace flexible para absorber espacio sobrante del eje principal

		flex: none;
			es equivalente a flex: 0 0 auto;
			dimensiona el elemento según su ancho y alto
			y lo hace inflexible para absorber espacio sobrante del eje principal
	*/
	flex: none;
	flex: auto;
}

.item:first-child {
	/*flex-shrink: 3;*/
}

.item:last-child {
	/* sobreescribe la propiedad align-items para el elemento, funciona cuando NO HAY SALTOS DE LÍNEA */
	/* auto | flex-start | flex-end | center | baseline | stretch */
	/*align-self: stretch;*/
	/*
		SI HAY ESPACIO SOBRANTE indica lo que puede "crecer" un elemento para ocuparlo.
		el número indica la proporción en la que se lo reparten
		NO SIGNIFICA QUE VAYA A SER EL DOBLE QUE EL OTRO, SINO QUE VA A RECIBIR EL DOBLE DEL ESPACIO VACÍO
		por defecto, no crecen (0)
		no se pueden aplicar números negativos
	*/
	/*flex-grow: 1;*/
	/*
		SI HAY DESBORDAMIENTO indica lo que puede "encoger" un elemento
		por defecto, encogen (1)
		no se pueden aplicar números negativos
	*/
	/*flex-shrink: 4;*/
	/*
		sobreescribe el valor width del elemento
		tiene poco sentido sin flex-shrink y flex-grow
		por defecto "auto"
	*/
	/*flex-basis: 30%;*/
	background-color: #EEE;
	transition: all .3s ease-out;
}

.item:last-child:hover {
	/*flex-grow: 2;*/
	/*flex-shrink: 3;*/
}

.item:nth-child(odd) {
	/*
		cambia el orden de colocación en el HTML, funciona como z-index
		acepta valores positivos y negativos, por defecto 0
		valores positivos colocan AL FINAL DE LA PILA, negativos AL PRINCIPIO.
	*/
	order: -1;
}
